<h2>Welcome to Ingars Movie Database</h2>

<ul>
	<li>
		<a asp-controller="Movie" asp-action="Index">All Movies</a>
	</li>
	<li>
		<a asp-controller="Movie" asp-action="Genres">All Genres</a>
	</li>
</ul>
<ul>
	<li>
		<a asp-controller="Person" asp-action="Actors">Actors</a>
	</li>
	<li>
		<a asp-controller="Person" asp-action="Producers">Producers</a>
	</li>
	<li>
		<a asp-controller="Person" asp-action="Directors">Directors</a>
	</li>
</ul>
<ul>
	<li>
		<a href="/admin/movie/index">Admin Movies</a>
	</li>
</ul>
<ul>
	<li>
		<a asp-controller="Home" asp-action="Demo">Demo</a>
	</li>
</ul>
