@model IEnumerable<Person>
<ul>
	@foreach (var person in Model)
	{
		<li>
			@*@Html.ActionLink(person.Name, "Details", "Person", new { id = person.PersonId })*@
			<a asp-controller="Person" asp-action="Details" asp-route-id="@person.PersonId">
				@person.Name
			</a>
		</li>
	}
</ul>
