@model IEnumerable<ImdbDAL.Movie>
<h2>Movies</h2>
<h3>@ViewBag.Genrename</h3>
<ul>
	@foreach (var movie in Model)
	{
		<li>
			<a asp-controller="Movie" asp-action="Details" asp-route-id="@movie.MovieId">
				@movie.Title
			</a>
		</li>
	}
</ul>