@model ImdbDAL.Person
<h2>@Model.Name</h2>

@Component.Invoke("MovieList", Model.ActedMovies, "Acted in")
@Component.Invoke("MovieList", Model.ProducedMovies, "Produced")
@Component.Invoke("MovieList", Model.DirectedMovies, "Directed")
