@model ImdbWeb.ViewModels.PersonModels.IndexViewModel
<h2>@Model.Title</h2>
<ul>
	@foreach (var person in Model.Persons)
	{
		<li>
			<a asp-controller="Person" asp-action="Details" asp-route-id="@person.PersonId">
				@person.Name
			</a>
		</li>
	}
</ul>

