<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href='https://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
	<link href="~/content/stylesheet.css" rel="stylesheet" />
</head>
<body>
	<div>
		@RenderBody()
	</div>
</body>
</html>
